/* SearchUser.css */
.search-user-container {
    width: 400px;
    margin: 150px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .user-details {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    gap: 16px; /* This will add 16px vertical spacing between each box */
    font-family:"Montserrat, sans-serif";
    height: 100vh;
  }
  
  /* Add more styles as needed */
  